@font-face {
  font-family: "Inter";
  src: url(../ASSET/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --color-white-1: rgb(255, 255, 255);
  --color-white-2: #eaeaea;
  --color-white-3: #cacaca;

  --color-chocolate-1: #be8f6d;
  --color-chocolate-2: #844f29;
  --color-chocolate-3: #57341b;
  --color-chocolate-4: #39100f;

  --color-blue-1: #404dc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 7%;
  align-items: center;
  background-color: var(--color-chocolate-1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: large;
}
.navbar a:hover {
  color: white;
}

.navbar .navbar_logo a {
  color: black;
}

.navbar .navbar_content a {
  margin: 0 0.5rem;
  color: black;
  position: relative;
}

.navbar .navbar_content a:hover {
  color: white;
}

.navbar_extra a {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar_extra a:hover {
  color: white;
}

#hamburger_icon {
  background-image: url("../ASSET/img/img-logo/hamburger.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.navbar_content .register_navbar_content {
  display: none;
}

@media (max-width: 990px) {
  #hamburger_icon {
    display: inline-block;
  }
  #hamburger_icon:hover {
    background-image: url("../ASSET/img/img-logo/hamburger_active.png");
  }

  .navbar_extra .register_navbar_extra {
    display: none;
  }

  .navbar_content .register_navbar_content {
    display: inline-block;
  }

  .navbar_content {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: min-content;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar_logo {
    font-size: 35px;
  }

  .navbar_content.active {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
    right: 0;
    box-shadow: 1px 1px 10px rgb(191, 190, 190);
  }

  .navbar_content a {
    display: inline-block;
    justify-content: first baseline;
    margin-top: 24px;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 45px;
  }

  .navbar_content a:hover {
    color: var(--color-white-3) !important;
  }
}
/* navbar end */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.home_container {
  background-image: url("../ASSET/img/img-background/home.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding: 210px 5%;
}
.our_classes_title_container {
  font-size: 56px;
  font-weight: 300;
  height: 110px;
}
.home_quote_container {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  font-size: 60px;
  font-weight: bolder;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px black;
  min-width: min-content;
}
.home_quote_container p {
  font-size: 50px;
  font-weight: 300;
}
.home_quote_container span {
  color: var(--color-chocolate-1);
  font-size: 70px;
}

.our_classes_container {
  padding: 100px 20px;
  padding-top: 50px;
  background: linear-gradient(to top, #ffffff 93%, rgb(200, 200, 200) 100%);
}
.our_classes_title_container {
  margin: 10px;
  text-align: center;
}
.our_classes_content {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.our_classes_item_content_container {
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
  padding: 30px 0;
  justify-content: center;
  border-radius: 15px;
}
.our_classes_item_content_container:hover {
  box-shadow: 1px 1px 30px rgb(190, 190, 190);
}
.our_classes_content_title_container {
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}
.our_classes_content_title_2_container {
  font-size: 13px;
  font-weight: normal;
  margin-bottom: 30px;
  text-align: center;
}
.our_classes_content_price_container {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.our_classes_content_price_container span {
  font-size: 48px;
  margin: 30px;
}
.our_classes_content_button_container {
  background-color: black;
  font-size: 14px;
  color: white;
  width: 180px;
  padding: 10px;
  text-align: center;
  border-radius: 15px;
  margin: 20px auto;
}
.our_classes_content_button_container:hover {
  background-color: var(--color-white-2);
  color: black;
  cursor: pointer;
}
.our_classes_content_button_container:active {
  background-color: var(--color-white-3);
}
.our_classes_content_benefit_container {
  border-top: 1px solid black;
  padding: 20px;
}
.our_classes_content_benefit_container ul {
  display: grid;
  justify-content: center;
}
.best_selling_container {
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  box-shadow: 0px 0px 50px rgb(200, 200, 200);
  height: 1000px;
}
.best_selling_content {
  display: grid;
  place-items: center;
}
.best_selling_title_container {
  font-size: 56px;
  font-weight: 300;
  margin: 40px;
  margin-bottom: 10px;
}
.best_selling_title_content_container {
  display: flex;
  overflow: scroll;
  gap: 30px;
  padding: 50px;
  border-radius: 50px;
  width: 85%;
  text-align: center;
}
.best_selling_title_content_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.best_selling_content_container img {
  display: block;
  margin: 20px auto;
  border-radius: 15px;
}

.best_selling_detail_content_container {
  height: 700px;
  padding-bottom: 0;
}
.best_selling_detail_content_container:hover {
  box-shadow: 1px 1px 30px rgb(220, 220, 220);
  height: min-content;
  border-radius: 15px;
  cursor: pointer;
}
.best_selling_subject_title_container {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
.best_selling_subject_benefit_container {
  text-align: left;
  padding: 10px;
  padding-left: 50px;
  padding-bottom: 0;
}
.best_selling_subject_benefit_container ul {
  margin: 0 20px;
  height: 160px;
}
.about_us_container {
  padding: 100px 20px;
  padding-bottom: 100px;
  display: flex;
  justify-content: center;
  background-image: url("../ASSET/img/img-background/about_us.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 
    inset 0px 30px 15px -10px rgba(0, 0, 0, 0.3),
    inset 0px -30px 15px -10px rgba(0, 0, 0, 0.5);
}
.about_us_content_container {
  width: 70%;
  text-align: center;
  box-shadow: 1px 1px 30px rgb(162, 162, 162);
  padding: 50px;
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.85);
}
.about_us_content_container:hover {
  box-shadow: 1px 1px 30px rgb(190, 190, 190);
}
.about_us_title_content {
  font-size: 56px;
  font-weight: 300;
}
.about_us_content {
  margin: 30px 10px;
  font-size: 17px;
  font-weight: 300;
}

.testimony_container {
  padding: 60px 5%;  
  background: linear-gradient(to bottom, #ffffff 50%, #e9e9e9 50%);
  display: grid;
  justify-content: center;
  place-items: center;
}
.testimony_content_container {
  display: flex;
  overflow: scroll;
  gap: 30px;
  padding: 50px;
  padding-top: 30px;
  padding-bottom: 20px;
  margin: 10px;
  border-radius: 60px;
  margin-bottom: 40px;
  background-color: #ffffff;
}
.testimony_content_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.testimony_content {
  padding: 50px;
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
  border-radius: 50px;
  text-align: center;
}
.testimony_content:hover {
  box-shadow: 1px 1px 30px rgb(190, 190, 190);
  cursor: pointer;
}
.testimony_content img {
  width: 200px;
  border-radius: 50px;
}
.testimony_content p {
  margin-top: 20px;
}
.testimony_title_container {
  font-size: 50px;
  text-align: center;
}
.testimony_title_content_container {
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
  border-radius: 60px;
  padding-top: 50px;
  background-color: #ffffff;
  background-color: linear-gradient(to bottom, #ffffff 50%, #c9c9c9 50%);
  width: 75%;
  height: min-content;
}

.star_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.star_fill_logo {
  background-image: url("../ASSET/img/img-logo/star_fill.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.star_empty_logo {
  background-image: url("../ASSET/img/img-logo/star_empty.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}

.our_partnership_container {
  text-align: center;
  padding: 50px 0;
  width: 100%;
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
}
.our_partnership_title_container {
  font-size: 56px;
  font-weight: 300;
  height: 110px;
}
.our_partnership_content_container {
  display: flex;
  overflow-x: scroll;
  padding: 50px;
  gap: 10px;
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
  scroll-behavior: smooth;
}
.our_partnership_content_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.our_partnership_content_container:hover {
  box-shadow: 1px 1px 30px rgb(190, 190, 190);
}

.faq_page {
  display: flex;
  flex-wrap: wrap;
  background-color: #e2e2e2;
  padding: 50px 10px;
  box-shadow: 0px 0px 50px rgb(200, 200, 200);
  justify-content: center;
  gap: 50px;
  padding-bottom: 100px;
}

.faq_title_container {
  text-align: center;
  font-size: 56px;
  font-weight: 300;
}
.faq_content_container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px 10px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
  padding-bottom: 50px;
}
.faq_content {
  border-bottom: 1px solid #ccc;
  padding: 10px;
}
.faq_question {
  font-weight: bold;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  list-style: none;
}
.faq_content:hover {
  background-color: rgb(240, 240, 240);
  border-radius: 10px;
}
.faq_answer {
  padding: 10px 20px;
  max-width: 500px;
}
summary::after {
  content: "";
  float: right;
  background-image: url("../ASSET/img/img-logo/arrow_down.png");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
details[open] summary::after {
  content: "";
  background-image: url("../ASSET/img/img-logo/arrow_up.png");
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}
.contact_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 800px;
  max-height: 500px;
  padding: 20px;
  background-color: white;
  border-radius: 50px;
  box-shadow: 1px 1px 30px rgb(207, 207, 207);
  padding-bottom: 50px;
  gap: 15px;
}
.contact_title_container {
  font-size: 50px;
  text-align: center;
}
.map_contact_container iframe {
  height: 200px;
  width: max-content;
  min-width: 350px;
  border-radius: 10px;
  box-shadow: 1px 1px 30px rgb(190, 190, 190);
}
.contact_list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_list_container a:hover {
  color: var(--color-white-3);
}
.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: medium;
  color: black;
}
.logo {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.email_logo {
  background-image: url("../ASSET/img/img-logo/email.png");
}
.phone_logo {
  background-image: url("../ASSET/img/img-logo/phone.png");
}
.facebook_logo {
  background-image: url("../ASSET/img/img-logo/facebook.png");
}
.twitter_logo {
  background-image: url("../ASSET/img/img-logo/twitter.png");
}
.instagram_logo {
  background-image: url("../ASSET/img/img-logo/instagram.png");
}


@media (max-width: 1430px) {
  .best_selling_content_container {
    font-size: 15px;
  }
}
@media (max-width: 1100px) {
  .testimony_title_content_container {
    width: 600px;
  }
  .about_us_content_container {
    width: 90%;
  }
  .best_selling_title_container {
    margin-top: 100px;
  }
  .best_selling_detail_content_container {
    margin: 10px;
    margin-bottom: 100px;
  }
  .best_selling_subject_benefit_container ul {
    margin: 10px 0px;
  }
  .best_selling_detail_content_container {
    height: 750px;
  }
  .best_selling_detail_content_container:hover {
    height: 730px;
  }
  .our_classes_content {
    justify-content: left;
    padding: 20px;
    overflow-x: scroll;
  }
  .our_classes_content::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .our_classes_container {
    padding: 100px 0;
  }
}
@media (max-width: 990px) {
  .testimony_title_content_container {
    width: 480px;
  }
  .home_container{
    height: 1fr;
    justify-content: center;
  }
}
@media (max-width: 790px) {
  .home_container {
    padding: 250px 5%;
  }
  .home_quote_container {
    font-size: 50px;
    font-weight: bold;
  }
  .home_quote_container span {
    font-size: 50px;
    font-weight: bold;
  }
}



/* footer start */
.footer_container {
  background-color: var(--color-chocolate-4);
  color: white;
  padding: 60px 30px;
  padding-top: 60px;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.footer_container a {
  color: white;
}
.footer_container a:hover {
  color: var(--color-white-3);
}
.navbar_list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_logo {
  color: var(--color-chocolate-1);
  font-size: 40px;
  font-weight: bolder;
}
.footer_tagline {
  font-size: 25px;
  font-weight: 200;
}
.footer_location {
  width: 300px;
  line-height: 1.5;
}
.logo {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.email_footer_logo {
  background-image: url("../ASSET/img/img-logo/email_active.png");
}
.phone_footer_logo {
  background-image: url("../ASSET/img/img-logo/phone_active.png");
}
.facebook_footer_logo {
  background-image: url("../ASSET/img/img-logo/facebook_active.png");
}
.twitter_footer_logo {
  background-image: url("../ASSET/img/img-logo/twitter_active.png");
}
.instagram_footer_logo {
  background-image: url("../ASSET/img/img-logo/instagram_active.png");
}
.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: medium;
}
.created_by a {
  color: var(--color-chocolate-1);
  font-weight: bolder;
}

@media (max-width: 990px) {
  .footer_container {
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .navbar_list_container {
    flex-direction: row;
  }
  .contact_list_container {
    align-items: center;
  }
  .footer_location {
    text-align: center;
  }
}
/* footer end */
