@font-face {
  font-family: "Inter";
  src: url(../ASSET/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

:root {
  --color-white-1: rgb(255, 255, 255);
  --color-white-2: #eaeaea;
  --color-white-3: #cacaca;

  --color-chocolate-1: #be8f6d;
  --color-chocolate-2: #844f29;
  --color-chocolate-3: #57341b;
  --color-chocolate-4: #39100f;

  --color-blue-1: #404dc0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  font-family: "Inter";
}

html {
  scroll-behavior: smooth;
}

/* navbar start */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 7%;
  align-items: center;
  background-color: var(--color-chocolate-1);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  font-size: large;
}
.navbar a:hover {
  color: white;
}

.navbar .navbar_logo a {
  color: black;
}

.navbar .navbar_content a {
  margin: 0 0.5rem;
  color: black;
  position: relative;
}

.navbar .navbar_content a:hover {
  color: white;
}

.navbar_extra a {
  color: black;
  display: flex;
  align-items: center;
  position: relative;
}

.navbar_extra a:hover {
  color: white;
}

#hamburger_icon {
  background-image: url("../ASSET/img/img-logo/hamburger.png");
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
  display: none;
}

.navbar_content .register_navbar_content {
  display: none;
}

@media (max-width: 990px) {
  #hamburger_icon {    
    display: inline-block;
  }
  #hamburger_icon:hover{
    background-image: url("../ASSET/img/img-logo/hamburger_active.png");
  }

  .navbar_extra .register_navbar_extra {
    display: none;
  }

  .navbar_content .register_navbar_content {
    display: inline-block;
  }

  .navbar_content {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: white;
    width: min-content;
    height: 100vh;
    transition: 0.3s;
  }

  .navbar_logo{
    font-size: 35px;
  }

  .navbar_content.active {
    display: flex;
    padding-top: 20px;
    flex-direction: column;
    gap: 20px;
    right: 0;
    box-shadow: 1px 1px 10px rgb(191, 190, 190);
  }

  .navbar_content a {
    display: inline-block;
    justify-content: first baseline;
    margin-top: 24px;
    padding: 24px;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 45px;
  }

  .navbar_content a:hover {
    color: var(--color-white-3) !important;
  }
}
/* navbar end */
body::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.subscription_page_1 {
  background-image: url("../ASSET/img/img-background/subscription.jpg");
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding: 220px 5%;
}
.subscription_quote_container {
  background-color: rgb(0, 0, 0, 0.7);
  color: white;
  font-size: 60px;
  font-weight: bolder;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 1px 1px 30px black;
  min-width: min-content;
}
.subscription_quote_container p {
  font-size: 50px;
  font-weight: 300;
}
.subscription_quote_container span {
  color: var(--color-chocolate-1);
  font-size: 70px;
}
.subscription_page_2 {
  display: flex;
  flex-direction: column;
  padding: 100px;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to top, #ffffff 99%, rgb(191, 191, 191) 100%);
}
.subscription_content {
  display: grid;
  place-items: center;
  padding: 50px;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 100px;
  min-width: 450px;
  padding-bottom: 50px;
  box-shadow: 1px 1px 30px rgb(161, 161, 161);
  border-radius: 100px;
}
.subscription_container {
  display: flex;
  overflow: scroll;
  gap: 30px;
  padding: 50px;
  box-shadow: 1px 1px 30px rgb(196, 196, 196);
  border-radius: 80px;
  width: 100%;
  text-align: center;
}
.star_container{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.star_detail_container{
  display: flex;
  margin-top: 10px;
  margin-bottom: 10px;
  gap: 5px;
  margin-left: 10px;
  font-weight: lighter;
  font-size: medium;
}
.star_fill_logo{
  background-image: url("../ASSET/img/img-logo/star_fill.png");  
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;  
}
.star_empty_logo{
  background-image: url("../ASSET/img/img-logo/star_empty.png");  
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;  
}
.subscription_container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
.subscription_subject_title_container {
  font-size: 36px;
  font-weight: 300;
  text-align: center;
}
.subscription_content_container img {
  display: block;
  margin: 20px auto;
  border-radius: 15px;
}
.subscription_subject_benefit_container {
  text-align: left;
  margin: 20px 30px;
}
.subscription_subject_benefit_container ul {
  margin: 0 20px;
  height: 250px;
}
.subscription_page_2 h1 {
  margin: 20px 0;
  font-size: 40px;
  text-align: center;
}
.subscription_subject_button_container {
  background-color: black;
  color: white;
  width: 100px;
  margin-left: 55%;
  padding: 10px;
  border-radius: 10px;
  align-items: end;
  box-shadow: 1px 1px 30px rgb(130, 130, 130);
  cursor: pointer;
}
.subscription_subject_button_container:hover {
  background-color: var(--color-white-2);
  color: black;
}
.subscription_subject_button_container:active {
  background-color: var(--color-white-3);
}
.detail {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7);
}

.detail_container {
  position: relative;
  background-color: #fefefe;
  margin: 10% auto;
  padding: 1.2rem;
  border: 1px solid #666;
  border-radius: 15px;
  width: 50%;
  animation: animatedDetail 0.5s;
  height: fit-content;
}

@keyframes animatedDetail {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 0;
    opacity: 1;
  }
}

.detail_container .close_icon {
  position: absolute;
  right: 1rem;
}
.close_icon_button{
  background-image: url("../ASSET/img/img-logo/close.png");  
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;  
}
.close_icon_button:active{
  background-image: url("../ASSET/img/img-logo/close_red.png");  
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;  
}
.subscription_detail_content_container{
  cursor: pointer;
}

.item_detail_content img {
  height: 15rem;
  margin-right: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.item_detail_content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.item_benefit_content span {
  margin-left: 10px;
  font-weight: lighter;
  font-size: medium;
}
.item_detail_benefit_container {
  margin: 10px;
}
.item_detail_benefit_container ul {
  margin: 30px;
  margin-top: 10px;
  font-size: small;
}
.subscription_detail_button_container {
  background-color: black;
  color: white;
  width: 100px;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 30px rgb(130, 130, 130);
}
.subscription_detail_button_container:hover {
  background-color: var(--color-white-2);
  color: black;
}
.subscription_detail_button_container:active {
  background-color: var(--color-white-3);
}
.detail_content p {
  font-size: small;
  margin: 10px 50px;
  text-align: center;
}
.subscription_content_container{
  height: 950px;
  padding: 10px;
}
.subscription_content_container:hover {
  box-shadow: 1px 1px 30px rgb(200, 200, 200);
  padding-bottom: 0px;
  border-radius: 50px;
  transition: padding 0.2s ease,  height 0.5s ease;
}


@media (max-width: 1430px) {
  .subscription_content_container {
    font-size: 15px;
  }
}
@media (max-width: 1100px) {
  .detail_container {
    width: 85%;
  }
}
@media (max-width: 790px) {
  .subscription_page_1 {
    justify-content: center;
  }
  .subscription_quote_container {
    font-size: 50px;
    font-weight: bold;
  }
  .subscription_quote_container span {
    font-size: 50px;
    font-weight: bold;
  }
  .subscription_content {
    margin: 10px;
    margin-bottom: 100px;
  }
  .item_detail_benefit_container ul {
    margin: 10px 0px;
  }
}
@media (max-width: 990px) {
  .subscription_content{
    padding: 20px;
  }
}


/* footer start */
.footer_container {
  background-color: var(--color-chocolate-4);
  color: white;
  padding: 60px 30px;
  padding-top: 60px;
  height: max-content;
  display: flex;
  flex-wrap: wrap;
  gap: 60px;
  justify-content: center;
}
.footer_container a {
  color: white;
}
.footer_container a:hover {
  color: var(--color-white-3);
}
.navbar_list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.contact_list_container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer_logo {
  color: var(--color-chocolate-1);
  font-size: 40px;
  font-weight: bolder;
}
.footer_tagline {
  font-size: 25px;
  font-weight: 200;
}
.footer_location {
  width: 300px;
  line-height: 1.5;
}
.logo {
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;
}
.email_footer_logo {
  background-image: url("../ASSET/img/img-logo/email_active.png");
}
.phone_footer_logo {
  background-image: url("../ASSET/img/img-logo/phone_active.png");
}
.facebook_footer_logo {
  background-image: url("../ASSET/img/img-logo/facebook_active.png");
}
.twitter_footer_logo {
  background-image: url("../ASSET/img/img-logo/twitter_active.png");
}
.instagram_footer_logo {
  background-image: url("../ASSET/img/img-logo/instagram_active.png");
}
.contacts {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: medium;
}
.created_by a {
  color: var(--color-chocolate-1);
  font-weight: bolder;
}

@media (max-width: 990px) {
  .footer_container {
    gap: 30px;
  }
}
@media (max-width: 700px) {
  .navbar_list_container {
    flex-direction: row;
  }
  .contact_list_container {
    align-items: center;
  }
  .footer_location {
    text-align: center;
  }
}
/* footer end */